#parent{
  height: 540px;
  width: 90%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}
.child{
  height: 525px;
  /* border: 1px solid black; */
  width: 350px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.img{
  width: 100%;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}

.button{
  text-align: center;
  display: block;
  margin: auto;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  background-color:rgb(99, 167, 227);
  border: none;
  border-radius: 2px;
}